<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="raphael">
        <meta name="description" content="just a random site on the interweb">
        <meta name="lightning" content="lnurlp:raphjaph@lntxbot.com"/>
        <meta property="og:image" content="/favicon.png" />
        <title>raphael</title>        
        <link rel="icon" href="/images/favicon.png" type="image/png">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>

    <header>

        <div class="infos">
            <a id="random-link" title="take me somewhere random" target=_blank onclick=getRandomLink()>
                <h1>raphael</h1>
            </a>
            <ul>
            <li>
                <a href="/41E04F0D.txt">
                    <img src="/images/key-white.png" title="PGP key"/>
                </a>
            </li>
            <li>
                <a href="mailto:raphjaph@protonmail.com">
                    <img src="/images/email-white.png" title="mail"/>
                </a>
            </li>
            <li>
                <a href="https://github.com/raphjaph">
                    <img src="/images/github-white.png" title="my repo"/>
                </a>
            </li>
            <li>
                <a href="https://t.me/raphjaph">
                    <img src="/images/telegram-white.png" title="please don't spam me"/>
                </a>
            </li>
            </ul>
        </div>
    </header>

    {% include "navbar.html" %}

    <body>
    {% block content %}{% endblock content %}
    </body>

    {% include "navbar.html" %}

    <footer>
        last updated {{ now() | date(format="%e %B %Y") }}<br/>
        brought to you by <a href="https://github.com/raphjaph/oxidised_website">this code</a>
    </footer>
</html>

<script>
function getRandomLink() {
    fetch("https://raph.ee/bookmarks.txt")
        .then( r => r.text())
        .then( function(text) {
            var lines = text.split("\n");
            var randLineNum = Math.floor(Math.random() * lines.length);
            var link = lines[randLineNum]
            document.querySelectorAll("#random-link").forEach(element => {
                element.setAttribute("href", link);
            })
        });
};
getRandomLink();
</script>
